.App {
  font-family: "Roboto", sans-serif;
}

.App footer {
  text-align: center;
}
.App .container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 0;
  /* background-color: #7fc7d9ac; */
  background: linear-gradient(111.5deg, #bbe8ff 11.1%, #044e74 107.5%);
  color: #fff;
  border-radius: 10px;
}
