.App {
  font-family: "Roboto", sans-serif;
}

.App footer {
  color: rgba(41, 41, 41, 0.477);
  font-size: 16px;
  text-align: center;
}

.App footer a {
  color: #044e74;
  font-weight: 400;
  text-decoration: none;
}
.App .container {
  background: linear-gradient(111.5deg, #bbe8ff 11.1%, #044e74 107.5%);
  border-radius: 10px;
  color: #fff;
  margin: 20px auto;
  max-width: 1000px;
  padding: 0;
}

@media (max-width: 992px) {
  .App .container {
    max-width: 90%;
  }

  .App footer {
    font-size: 12px;
    margin: 0 auto;
    max-width: 90%;
  }
}
