.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.App footer {
  color: rgba(41, 41, 41, 0.477);
  font-size: 16px;
  text-align: center;
}

.App footer a {
  color: #044e74;
  font-weight: 400;
  text-decoration: none;
}

@media (max-width: 992px) {
  .App footer {
    font-size: 12px;
    margin: 0 auto;
    max-width: 90%;
  }
}
