.WeatherForecast h2 {
  text-align: left;
  padding: 5px 10px;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 400;
  border-bottom: 1px solid gray;
}
.WeatherForecastDay .dailyForecast {
  align-items: center;
  background-color: #044f7489;
  border-radius: 5px;
  color: #fff;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  margin: 5px auto;
  padding: 10px 10px;
}

.WeatherForecastDay .forecastDate {
  letter-spacing: 1.5px;
  font-weight: 100;
}

.WeatherForecastDay .forecastData {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.WeatherForecastDay .forecastMinTemp {
  margin: 0 5px;
  letter-spacing: 2px;
}

.WeatherForecastDay .forecastMaxTemp {
  margin: 0 5px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #044f74;
}

@media (max-width: 992px) {
  .WeatherForecast {
    padding: 0 8px;
  }
}
