.Weather {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.Weather .weather-info {
  background-color: #ffffffad;
  color: #000000c0;
  text-align: center;
  border-radius: 10px;
  padding: 10px 20px;
}

.Weather .search-engine {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.Weather .weather-info [type="search"] {
  border: none;
  border-radius: 5px;
  font-size: 15px;
  margin: 15px auto;
  padding: 8px 5px 8px 10px;
}

.Weather .temperature-units a {
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 2px;
  color: rgba(41, 41, 41, 0.477);
  font-weight: bold;
}

.Weather .icon {
  font-size: 90px;
}

.Weather .weather-description {
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: capitalize;
}

.Weather .weather-highlights {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  margin: 20px auto;
}

.Weather .highlights-header {
  font-weight: bold;
  color: rgba(41, 41, 41, 0.477);
}

.Weather .highlights-data {
  opacity: 0.9;
}

.Weather .weather-display {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 15px;
}

.Weather .weather-display h1 {
  font-size: 56px;
  font-weight: 300;
  margin: 0 5px;
  letter-spacing: 2px;
  text-align: end;
}

.Weather .weather-display-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.Weather .date-info {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 100;
}

.Weather .temperature {
  font-size: 66px;
  font-weight: 500;
}
