.Weather {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: linear-gradient(111.5deg, #bbe8ff 11.1%, #044e74 107.5%);
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(41, 41, 41, 0.477);
  color: #fff;
  margin: 50px auto 20px;
  max-width: 1000px;
  padding: 0;
}

.Weather .weather-info {
  background-color: #ffffffad;
  border-radius: 10px;
  color: #000000c0;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 5px 0px 15px rgba(41, 41, 41, 0.477);
}

.Weather .search-engine {
  align-items: center;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.Weather .weather-info [type="search"] {
  border: none;
  border-radius: 5px;
  font-size: 15px;
  margin: 15px auto;
  padding: 8px 5px 8px 10px;
}

.Weather .temperature-units {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.Weather .temperature-units button {
  background: none;
  border: none;
  color: rgba(41, 41, 41, 0.477);
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  transition: all 200ms ease-in-out;
}

.Weather .temperature-units button:focus,
.temperature-units button:hover {
  color: #000;
  cursor: pointer;
}

.Weather .weather-description {
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.Weather .weather-highlights {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  margin: 20px auto;
}

.Weather .highlights-header {
  color: rgba(41, 41, 41, 0.477);
  font-weight: bold;
}

.Weather .highlights-data {
  opacity: 0.9;
}

.Weather .weather-display {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 15px;
}

.Weather .weather-display h1 {
  font-size: 56px;
  font-weight: 300;
  margin: 0 5px;
  letter-spacing: 2px;
  text-align: end;
}

.Weather .weather-display-footer {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.Weather .date-info {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.3;
  padding-bottom: 5px;
  text-align: left;
}

.Weather .temperature {
  font-size: 66px;
  font-weight: 400;
}

@media (max-width: 992px) {
  .Weather {
    max-width: 90%;
  }
  .Weather .weather-info [type="search"] {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .Weather {
    grid-template-columns: 1fr;
  }
  .Weather .weather-info {
    padding: 10px 0px 0px;
    box-shadow: 0px 5px 15px rgba(41, 41, 41, 0.477);
  }
  .Weather .weather-display h1 {
    font-size: 40px;
  }
  .Weather .date-info {
    font-size: 18px;
  }
  .Weather .weather-display .temperature {
    font-size: 50px;
  }
}
